PUBLIC_PRICE_IA_AGENTS=
PUBLIC_PRICE_UNIT_IA_AGENTS=USD
PUBLIC_PRICE_LOCAL_LLMS=
PUBLIC_PRICE_UNIT_LOCAL_LLMS=USD
PUBLIC_PRICE_ECOMMERCE=
PUBLIC_PRICE_UNIT_ECOMMERCE=USD
PUBLIC_PRICE_AUTOMATION=
PUBLIC_PRICE_UNIT_AUTOMATION=USD
